body.mas{
margin-left: inherit;
margin-right: inherit;
margin-top: 35px;
margin-bottom: inherit;
font-family: arial,helvetica,sans-serif;
}

.Roboto{
  font-family: 'verdana',sans-serif;
}
.a11 {
color: red; font-family: "lucida console", monospace,serif; font-size: 20px;
font-weight: bold; margin-left: 10px; margin-top: 25px; text-decoration: none;
}
div a:hover{background-color:white; box-shadow: 1px 0px 3px;
}
.main-header {margin-top: 2px; margin-bottom: 2px;
}
.nav-link{font-size: 14px; color:white;
}
ul {list-style-type: none; margin: 0px; overflow: hidden; background-color: #0D1356;
}
li {float: left; margin-top: 10px; margin-bottom: 10px;
}
li a {font-family: lucida,monospace; font-size: 18px; display: block;
  color: white; text-align: center; padding: 10px; text-decoration: none;
  padding-top: 5px; padding-bottom: 5px;
}
input.buscar{float: right;
}
li a:hover{background-color: LimeGreen;
}
.title{font-size:19px; margin-top: 0;
}
.text-center{text-align:center;
}
.text{color: MediumBlue; font-family: georgia,serif; background-color: #FFF0F5;
padding-left: 10PX; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;
}
p.centro{text-align: center; color: MidnightBlue; font-weight: 600;
  font-size: 12px;
}
/* AGREGAR FUENTES DE ICONOS DE REDES SOCIALES */
.redes a{padding: 15px; font-size: 20px; width: 20px; position:  relative;
  text-align: center; display: block; float:left; text-decoration: none;
  border-radius: 50px; margin: 5px 1200px
}
.redes a:hover {background-color: #000;
}
.face{background: #3B5998; color: white;
}
.inst{background:	#FF1493; color: white; margin-top: 8px;
}
.content{margin-left: 75px; font-size: 12px;
}
/* Iniciar sesion */
.login{margin-left: 50px; padding: 0px; border: 0px solid; border-radius: 3px;
}
.login a{font-size: 16px; font-family: arial sans-serif; font-weight: bold;
  padding: 9px; border-radius: 3px; padding-top: 5px; padding-bottom: 5px;
  background-color: #10BA6D;
}
